h2 {
  padding: 1em 3em 1em 0;
  margin: 0;
}

.search-results-wrapper {
  display: flex;
}

.tracks-wrapper {
  max-height: 50vh;
  overflow: scroll;
  margin: 0 auto;
}

.tracks-wrapper,
.playlist-wrapper {
  padding: 1em;
  max-width: 45vw;
  min-width: 45vw;
}

input#playlist {
  max-width: 40vw;
}

@media screen and (max-width: 720px) {
  .search-results-wrapper {
    display: block;
  }

  .tracks-wrapper,
  .playlist-wrapper {
    min-width: 80vw;
    max-width: 80vw;
  }

  .playlist-wrapper {
    margin: 0 auto;
  }
}
