.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-wrapper button {
  align-self: flex-end;
  align-self: stretch;
}

.flex-wrapper p {
  margin: 0;
}

.tracks {
  background: #c9bd80;
  width: 85vw;
  padding: 0.5em;
  color: white;
  border-radius: 4px;
}
