.tracks {
  border-radius: 4px;
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
  background: #fcf4c5;
}

.flex-wrapper {
  display: flex;
}

.flex-wrapper h3 {
  flex-grow: 1;
}

.flex-wrapper button {
  padding: 1em;
  align-self: center;
}
