/*GLOBAL STYLES*/
header {
  padding: 0 150px;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-around;
  background: #bec989;
  min-height: 30vh;
}

header h1 {
  align-self: center;
  font-size: 3em;
}

header img {
  width: 150%;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  header {
    max-height: auto;
  }

  header h1 {
    font-size: 4.5em;
  }

  header img {
    max-width: 25%;
  }
}
